
{
  "parser": "babel-eslint",
  "extends": "airbnb",
  "plugins": [
    "react-hooks"
  ],
  "rules": {
    "arrow-body-style": "warn",
    "semi": "warn",
    "no-unused-vars": "warn",
    "comma-dangle": ["warn", "always-multiline"],
    "consistent-return": "off",
    "max-len": ["warn", { "code": 120 }],
    "jsx-a11y/click-events-have-key-events": "warn",
    "jsx-a11y/media-has-caption": "off",
    "lines-between-class-members": ["warn", "always", { "exceptAfterSingleLine": true }],

    "react-hooks/rules-of-hooks": "error",
    "react-hooks/exhaustive-deps": "warn",
    "react/jsx-one-expression-per-line": "off",
    "react/prop-types": "warn",
    "react/no-danger": "off",
    "react/destructuring-assignment": "warn",
    "react/self-closing-comp": "warn",
    "react/jsx-props-no-spreading": ["warn", {
      "html": "ignore"
    }],
    "react/require-default-props": "off",
    "react/forbid-prop-types": "off",

    "import/no-unresolved": ["error", { "ignore": ["@\/"] }],
    "import/newline-after-import": "off",
    "import/prefer-default-export": "off",
    "import/order": "off"
  },
  "env": {
    "es6": true,
    "browser": true,
    "node": true
  }
}
