.wrapper {
  --size: 40px;

  display: inline-block;
  font-size: 0.1px;

  width: var(--size, 40px);
  height: var(--size, 40px);

  border: 4px solid #4a76a8;
  border-left-color: transparent;
  border-radius: 50%;

  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}
